.card {
    max-width: 200px;
}

.card > svg {
    display: block;
    margin: 0 auto 20px;
}

.wrap_text {
    text-align: center;
}

.title {
    font-family: "Poppins SemiBold";
    color: #1E1D4C;
    font-size: 20px;
    margin-bottom: 12px;
    display: inline-block;
}

.text {
    font-size: 16px;
    font-family: "Poppins Medium";
    color: #5E6282;
}