.category {
    margin-bottom: var(--sections--margin-bottom);
}

.container {
    padding: 0 157px;
}

.subtitle {
    font-family: var(--font-family-poppins--semibold);
    font-size: 18px;
    color: var(--color-burnt_coral);
    margin-bottom: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.title {
    font-family: var(--font-family-volkhov--bold);
    font-size: 50px;
    color: var(--color-midnight_blue);
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin-bottom: 70px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1345px;
    margin: 0 auto;
}

.wrap svg {
    max-width: 100px;
    height: 80px;
}


@media (max-width: 1399px) {
    .container {
        padding: 0 100px;
    }
}

@media (max-width: 992px) {
    .wrap svg {
        max-width: 80px;
        max-height: 60px;
    }

    .container {
        padding: 0 50px
    }
}