.subtitle {
    font-family: var(--font-family-poppins--bold);
    font-size: 18px;
    color: var(--color-burnt_coral);
}

.title {
    font-family: var(--font-family-volkhov--bold);
    color: var(--color-midnight_blue);
    font-size: 50px;
    margin-bottom: 31px;
}

.subtitle, .title {
    display: block;
    text-transform: capitalize;
}

@media (max-width: 1070px) {
    .container {
        padding: 0 100px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 32px;
    }
}