.subtitle {
    font-family: var(--text-font-family-bold);
    font-size: 18px;
    color: var(--btn-color);
}

.title {
    font-family: var(--title-font-family);
    color: var(--title-color);
    font-size: 50px;
    margin-bottom: 31px;
}

.subtitle, .title {
    display: block;
    text-transform: capitalize;
}

@media (max-width: 1070px) {
    .container {
        padding: 0 100px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 32px;
    }
}