.title {
    font-size: 21px;
    color: var(--color-midnight_violet);
    font-family: var(--font-family-manrope--bold);
    margin-bottom: 24px;
    display: inline-block;
}

.input {
    background-color: var(--color-lavender_mist);
    padding: 14px 0 12px 15px;
    max-width: 240px;
    width: 100%;
}

.input::placeholder,
.note {
    color: var(--color-midnight_violet);
    opacity: 0.2;
    font-family: var(--font-family-manrope--medium);
    letter-spacing: -0.02em;
}

.btn {
    padding: 13px 32px 13px 43px;
    background-color: var(--color-burnt_coral);
    box-shadow: 0 20px 35px 0 rgba(223, 105, 81, 0.15);
    border-radius: 10px;
    font-family: var(--font-family-manrope--medium);
    letter-spacing: -0.02em;
    color: white;
}

.note {
    opacity: 0.5;
}