.footer_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    column-gap: 110px;

    max-width: 366px;
}

.title, .text {
    color: #181433;
}

.title {
    margin-bottom: 6px;
    font-size: 21px;
    font-family: "Manrope Bold";
}

.text {
    font-family: "Manrope Medium";
}

@media (max-width: 1380px) {
    .footer_links {
        column-gap: 20px
    }
}