.international_packages {
    margin-bottom: var(--sections--margin-bottom);
}

.container {
    padding: 0 150px;
}

.subtitle {
    font-family: var(--text-font-family-bold);
    font-size: 18px;
    color: var(--btn-color);
    margin-bottom: 2px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1em;
    text-align: center;
}

.title {
    font-family: var(--title-font-family);
    font-size: 50px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 68px;
    display: block;
    text-align: center;
}
