@import url("../common.css");

.basic_padding {
    padding: 45px 35px 35px 60px;
}

.timeline {
    margin-bottom: 147px;
}

.day {
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
}

.day:not(:last-child) {
    border-left: 1px dashed var(--color-burnt_coral);
    height: 368px;
}

.day_number {
    border-radius: 9px;
    background-color: var(--color-burnt_coral);
    width: 47px;
    height: 47px;
    display: inline-block;

    color: var(--color-white);
    font-size: 20px;
    font-family: var(--text-font-family-bold);
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 9px;

    position: absolute;
    top: 0;
    left: -26px;
}

.day_title {
    color: var(--color-midnight_blue);
    font-family: var(--text-font-family-semibold);
    font-size: 20px;
    margin-bottom: 8px;
}

.description,
.item {
    font-family: var(--text-font-family-regular);
    color: var(--color-midnight_blue);
}

.description {
    max-width: 618px;
    margin-bottom: 33px;
}

.items {
    padding-left: 17px;
}

.item {
    font-size: 14px;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}