.best_packages {
    margin-bottom: var(--sections--margin-bottom);
}

.subtitle {
    color: var(--color-burnt_coral);
    font-family: var(--font-family-poppins--bold);
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}

.title {
    font-family: var(--font-family-volkhov--bold);
    color: var(--color-midnight_blue);
    font-size: 50px;
    margin-bottom: 19px;
    display: block;
}

.text {
    font-family: var(--font-family-poppins--regular);
    margin-bottom: 31px;
    max-width: 574px;
}

.btn {
    padding: 11px 42px 21px 6px;
    background-color: var(--color-burnt_coral);
    color: var(--color-white);
    font-family: var(--font-family-poppins--semibold);
    border-radius: 10px;
    margin-bottom: 80px;
    display: inline-block;
}

.container {
    padding: 0 219px;
}

.inner {
    position: relative;
}

.list {
    display: flex;
    justify-content: space-between;
}

