.best_packages {
    margin-bottom: var(--sections--margin-bottom);
}

.subtitle {
    color: var(--btn-color);
    font-family: var(--text-font-family-bold);
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}

.title {
    font-family: var(--title-font-family);
    color: var(--title-color);
    font-size: 50px;
    margin-bottom: 19px;
    display: block;
}

.text {
    font-family: var(--text-font-family-regular);
    margin-bottom: 31px;
    max-width: 574px;
}

.btn {
    padding: 11px 42px 21px 6px;
    background-color: var(--btn-color);
    color: #fff;
    font-family: var(--text-font-family-semibold);
    border-radius: 10px;
    margin-bottom: 80px;
    display: inline-block;
}

.container {
    padding: 0 219px;
}

.inner {
    position: relative;
}

.list {
    display: flex;
    justify-content: space-between;
}

