.card {
    position: relative;
}

.price {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 46px;
    background: linear-gradient(45deg, #FF7255 0%, #BA4E38 100%);
    color: var(--color-white);
    font-family: var(--font-family-poppins--regular);
    padding: 6px 22px;
    
}

@media (max-width: 1399px) {
    .card {
        max-width: 180px;
    }

    .price {
        font-size: 14px;
        padding: 4px 20px;
    }
}