.honeymoon {
    margin-bottom: var(--sections--margin-bottom);
}

.container {
    padding: 0 303px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    font-family: var(--font-family-poppins--semibold);
    font-size: 18px;
    color: var(--color-burnt_coral);
    margin-bottom: 18px;
    text-transform: uppercase;
    display: block;

}

.title {
    font-family: var(--font-family-volkhov--bold);
    font-size: var(--title-ls);
    color: var(--color-midnight_blue);
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.description {
    max-width: 583px;
    width: 100%;

    font-family: var(--font-family-poppins--regular);
    margin-bottom: 31px;
}

.btn {
    padding: 11px 42px 21px 6px;
    background-color: var(--color-burnt_coral);
    color: var(--color-white);
    font-family: var(--font-family-poppins--semibold);
    border-radius: 10px;
    margin-bottom: 80px;
}

.img_wrap {
    margin-right: var(--title-ls);
}

.img {
    border-radius: 300px 300px 0 0;
}

.trans_text {
    display: inline-block;
    transform: rotate(-90deg) translate(-72%, -450%);
    font-size: 52px;
    font-family: var(--font-family-poppins--bold);
    color: var(--color-black);
    opacity: 10%;
}

@media (max-width: 1567px) {
    .container {
        padding: 0 100px;
    }
}

@media (max-width: 992px) {
    .subtitle {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .title {
        font-size: var(--title-ms);
    }

    .description {
        font-size: 14px;
    }
}

