.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
}

.link,
.dark_theme {
  font-size: 17px;
  font-family: "Circular Medium";
  color: white;
  display: inline-block;
  position: relative;
}

.link:not(:last-child),
.dark_theme:not(:last-child) {
  margin-right: 50px;
}

.link::after,
.dark_theme::after {
  width: 0;
  border-radius: 34px;
  background: var(--color-burnt_coral);
  height: 3px;
  transition: all .5s ease-in-out;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}

.link.underline::after,
.dark_theme.underline::after {
  width: 30px;
  right: 0;
}

.link:hover::after,
.dark_theme:hover::after {
  width: 30px;
}

.button_login {
  padding: 16px 32px;
  background-color: var(--color-burnt_coral);
  border-radius: 10px;
  box-shadow: 0 20px 35px 0 rgba(223, 105, 81, 0.15);
  font-family: "Circular Medium";

  color: white;
  font-size: 17px;
}

.dark_theme {
  color: var(--color-midnight_blue);
}