.circle {
    transform: rotate(-90deg);
}

.circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.text {
    color: var(--color-midnight_blue);
    font-size: 18px;
    font-family: var(--font-family-poppins--bold);
    letter-spacing: 0.1em;
}