.popular_tour {
    margin-bottom: var(--sections--margin-bottom);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 264px;
}

.subtitle {
    font-family: var(--font-family-poppins--bold);
    font-size: 18px;
    color: var(--color-burnt_coral);
    margin-bottom: 2px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1em;
}

.title {
    font-family: var(--font-family-volkhov--bold);
    font-size: 50px;
    color: var(--color-midnight_blue);
    text-transform: capitalize;
    margin-bottom: 25px;
    display: block;
}

.description {
    max-width: 583px;
    width: 100%;

    font-family: var(--font-family-poppins--regular);
    margin-bottom: 85px;
}