.popular_tour {
    margin-bottom: var(--sections--margin-bottom);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 264px;
}

.subtitle {
    font-family: var(--text-font-family-bold);
    font-size: 18px;
    color: var(--btn-color);
    margin-bottom: 2px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1em;
}

.title {
    font-family: var(--title-font-family);
    font-size: 50px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 25px;
    display: block;
}

.description {
    max-width: 583px;
    width: 100%;

    font-family: var(--text-font-family-regular);
    margin-bottom: 85px;
}