.card {
    padding: 20px 24px 31px;
    border: 1px solid #ddd;
    max-width: 370px;
    border-radius: 26px;
}

.card > img {
    margin-bottom: 27px;
}

.text {
    margin-bottom: 21px;
}

.title {
    display: block;
    color: var(--color-void_black);
    font-family: var(--text-font-family-medium);
    letter-spacing: 0.015em;
    font-size: 18px;
    margin-bottom: 12px;
}

.info, .count_people {
    letter-spacing: 0.02em;
    color: var(--color-dusty_twilight);
    font-family: var(--text-font-family-medium);
}

.count_wrap {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.icons {
    display: flex;
    column-gap: 13px;
    margin-bottom: 30px;
}

.icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: var(--color-anti_flash_white);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
    .card {
        max-width: 300px;
    }
}