.trending {
    padding: 0 262px 0 279px;
    margin-bottom: 112px;
}

.titles_wrap {
    margin-bottom: 57px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    color: var(--color-burnt_coral);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--text-font-family-bold);
    display: block;
}

.title {
    color: var(--color-midnight_blue);
    font-size: 50px;
    text-transform: capitalize;
    font-family: var(--title-font-family);
}
