/* часто повторяемые свойства */
.data,
.days_wrap,
.people_wrap,
.info,
.place_wrap {
    display: flex;
    align-items: center;
}

.days,
.people,
.name_place,
.description {
    font-family: var(--text-font-family-regular);
}

.discount,
.price_line_through,
.price {
    font-family: var(--text-font-family-medium);
}

.days,
.people,
.name_place {
    font-size: 17px;
    color: var(--color-battleship_gray);
}

.country_name,
.discount,
.price {
    font-size: 30px;
}

.description,
.btn {
    font-size: 13px;
}

/* -------------------------- */

.card {
    max-width: 393px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.img_wrap {
    position: relative;
    margin-bottom: 39px;
}

.img {
    max-width: 393px;
    width: 100%;
}


.icon {
    position: absolute;
    left: 39px;
    bottom: -38px;
    box-shadow: 6px 14px 27px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset -5px 11px 18px 0 rgba(0, 0, 0, 0.57);
    border-radius: 50%;
}

.data {
    column-gap: 35px;
    margin-bottom: 18px;
}

.days_wrap,
.people_wrap {
    column-gap: 8px;
    text-transform: capitalize;
}

.info {
    justify-content: space-between;
}

.place_wrap {
    column-gap: 10px;
    margin-bottom: 10px;
}

.country_name {
    font-family: var(--text-font-family-bold);
}

.discount {
    color: var(--color-burnt_coral);
}

.price_line_through {
    color: var(--color-battleship_gray);
    text-decoration: line-through;
    font-size: 22px;
}

.description {
    margin-bottom: 49px;
}

.btn {
    font-family: var(--text-font-family-semibold);
    box-shadow: 0 15.28px 26.74px 0 rgba(223, 105, 81, 0.15);
    background-color: var(--color-burnt_coral);
    border-radius: 8px;

    padding: 7px 42px 14px 14px;
    text-transform: capitalize;
    color: white;
}

.btn:hover {
    background-color: var(--color-desert_coral);
}