.stars {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 33px;
}

.filled_star,
.half_star {
    font-size: 19px;
    position: relative;
}

.filled_star {
    color: #FFBA0A;
}

.half_star {
    color: #E0E0E0;
}

.half_star::before {
    content: '★';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #FFBA0A;
}

.empty_star {
    color: #E0E0E0;
    font-size: 19px;
}

.rating_text {
    color: #5E6282;
    font-family: "Poppins Medium";
}

.information_explore {
    padding: 45px 35px 35px 35px;
    max-width: 762px;
}

.header {
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.country {
    color: #181E4B;
    font-size: 32px;
    font-family: "Volkhov Bold";
}

.price_wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.price {
    font-family: "Poppins Medium";
    color: #DF6951;
    font-size: 30px;
}

.price_text, 
.description,
.value {
    font-family: "Poppins Regular";
}


.price_text {
    color: #7D7D7D;
}

.description {
    margin-bottom: 33px;
}

.title {
    color: #DF6951;
    font-size: 20px;
    font-family: "Poppins Bold";
    letter-spacing: 0.1em;
}

.wrap {
    margin-bottom: 147px;
}

.grid {
    max-width: 526px;
    display: grid;
    grid-template-columns: 277px 1fr;
    row-gap: 44px;
    margin-bottom: 44px;
}

.item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.included,
.not_included {
    display: grid;
    grid-template-columns: 277px 386px;
}

.not_included {
    margin-bottom: 44px;
}

.list {
    display: grid;
    grid-template-columns: 201px 201px;
    column-gap: 38px;
    row-gap: 25px;
}

.btn {
    width: 100%;
    background-color: #DF6951;
    box-shadow: 0 20px 35px 0 rgba(223, 105, 81, 0.15);
    border-radius: 10px;
    padding: 15px 0;

    color: #fff;
    font-size: 17px;
    font-family: "Poppins SemiBold";
}