@import url("../common.css");

.stars {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 33px;
}

.filled_star,
.half_star {
    font-size: 19px;
    position: relative;
}

.filled_star {
    color: var(--color-golden_poppy);
}

.half_star {
    color: var(--color-platinum_gray);
}

.half_star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: var(--color-golden_poppy);
}

.empty_star {
    color: var(--color-platinum_gray);
    font-size: 19px;
}

.rating_text {
    color: var(--color-dusk_lavendar);
    font-family: var(--font-family-poppins--medium);
}

.header {
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.country {
    color: var(--color-midnight_blue);
    font-size: var(--title-ms);
    font-family: var(--font-family-volkhov--bold);
}

.price_wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.price {
    font-family: var(--font-family-poppins--medium);
    color: var(--color-burnt_coral);
    font-size: 30px;
}

.price_text, 
.description,
.value {
    font-family: var(--font-family-poppins--regular);
}


.price_text {
    color: var(--color-battleship_gray);
}

.description {
    margin-bottom: 33px;
    max-width: 762px;
}

.title {
    color: var(--color-burnt_coral);
    font-size: 20px;
    font-family: var(--font-family-poppins--bold);
    letter-spacing: 0.1em;
}

.wrap {
    margin-bottom: 147px;
}

.grid {
    max-width: 526px;
}

.grid_item {
    display: grid;
    grid-template-columns: 277px 1fr;
    margin-bottom: 44px;
}

.item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.included,
.not_included {
    display: grid;
    grid-template-columns: 277px 386px;
}

.not_included {
    margin-bottom: 44px;
}

.list {
    display: grid;
    grid-template-columns: 201px 201px;
    column-gap: 38px;
    row-gap: 25px;
}