.filter_element {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--color-onyx_gray);
    font-family: var(--font-family-poppins--bold);
    letter-spacing: 0.1em;
    font-size: 20px;
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: space-around;
    padding: 55px 0;
    background: #fff;
}

.filter_pattern {
    max-width: 1328px;
    width: 100%;
    margin: 0 auto;
}
