.header {
  margin-bottom: 68px;
}

.wrap {
  position: relative;
  min-width: 886px;
}

.bg_img {
  object-fit: cover;
}

.home_page_filter,
.others_page_filter {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.home_page_filter {
  background-color: rgba(0, 0, 0, 0.33);
}

.others_page_filter {
  background-color: rgba(38, 38, 38, 0.33);
}

.container {
  padding: 0 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


@media (max-width: 1399px) {
  .container {
    padding: 0 100px;
  }
}

@media (max-width: 886px) {
  .container {
    padding: 0 70px;
  }
}