.basic_padding {
    padding: 45px 35px 35px 35px;
}

.title {
    color: var(--title-color);
    font-size: 32px;
    font-family: var(--title-font-family);
    margin-bottom: 26px;

    display: inline-block;
}

.btn {
    width: 100%;
    background-color: var(--btn-color);
    box-shadow: 0 20px 35px 0 rgba(223, 105, 81, 0.15);
    border-radius: 10px;
    padding: 15px 0;

    color: #fff;
    font-size: 17px;
    font-family: var(--text-font-family-semibold);
}

.btn:disabled {
    cursor: not-allowed;
}