:root {
	/* -----------------Цвета----------------- */
	/* Зеленые */
	--color-apple_green: #4CAF50;
	--color-forest_green: #45a049;

	/* Красные/Оранжевые */
	--color-burnt_coral: #DF6951;
	--color-tangerine_orange: #e9630f;
	--color-coral_orange: #FF7255;
	--color-dark_brick: #BA4E38;
	--color-vermilion_flame: #F15A2B;
	--color-rust_red: #b65743;
	--color-red-400: #ff4d4d;
	--color-red-500: #f44336;
	--color-red-600: #ff1a1a;

	/* Синие/Фиолетовые */
	--color-midnight_blue: #181E4B;
	--color-midnight_violet: #181433;
	--color-deep_teal: #006380;
	--color-dusk_lavender: #5E6282;
	--color-misty_violet: #757095;
	--color-material_blue: #2196F3;
	--color-bright_blue: #0b7dda;
	--color-neon_blue: #4a4aff;

	/* Серые/Нейтральные */
	--color-void_black: #080809;
	--color-dark_charcoal: #262626;
	--color-onyx_gray: #343434;
	--color-onyx_gray--opacity: #34343485;
	--color-dark_gray: #333;
	--color-medium_dark_gray: #666;
	--color-medium_gray: #555;
	--color-battleship_gray: #7D7D7D;
	--color-dusty_twilight: #84829A;
	--color-platinum_gray: #e0e0e0;
	--color-silver_mist: #F0F0F0;
	--color-anti_flash_white: #f5f5f5;
	--color-ghost_white: #f8f8f8;
	--color-antique_white :#f9f9f9;
	--color-lavender_mist: #EEEEFF;
	--color-whisper_pink: #FFEFEC;
	--color-white: #fff;
	--color-black: #000;
	--color-black--opacity: #00000057;
	--color-silver: #ddd;
	--color-system_elevation_base: #E5E5EA;

	/* Желтые/Золотые */
	--color-gold: #FFD700;
	--color-golden_poppy: #FFBA0A;
	--color-golden_honey: #F0BB1F;
	--color-tangerine: #FFA500;

	/* Коричневые */
	--color-dark_cocoa: #281D1B;
	--color-desert_coral: #E47E6A;
	/* --------------------------------------- */

	/* -----------------Шрифты----------------- */
	/* Volkhov */
	--font-family-volkhov--bold: "Volkhov Bold";

	/* Poppins */
	--font-family-poppins--regular: "Poppins Regular";
	--font-family-poppins--medium: "Poppins Medium";
	--font-family-poppins--semibold: "Poppins SemiBold";
	--font-family-poppins--bold: "Poppins Bold";

	/* Circular */
	--font-family-circular--medium: "Circular Medium";

	/* Manrope */
	--font-family-manrope--medium: "Manrope Medium";
	--font-family-manrope--bold: "Manrope Bold";

	/* Yesteryear */
	--font-family-yesteryear--regular: "Yesteryear Regular";
	/* ---------------------------------------- */

	--sections--margin-bottom: 117px;

	/* Размер шрифтов */
	--title-ls: 50px;
	--title-ms: 32px;
}



/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	/* list-style: none; */
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	-webkit-user-drag: none;
	user-drag: none;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}