.title {
    font-family: "Volkhov Bold";
    color: #181E4B;
    font-size: 32px;
    text-align: center;

    margin-bottom: 28px;
}

.wrap {
    max-width: 542px;
    width: 100%;

    border: 0.58px solid #00000057;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);

    background-color: #fff;
    padding: 30px 35px 16px;
}

.input {
    padding: 25px 0 25px 22px;
    border: 0.58px solid #00000057;
    border-radius: 6px;
    width: 100%;

    font-size: 18px;
    font-family: "Poppins Regular";
}

.birth_date {
    padding-right: 22px;
}

.error {
    color: red;
    font-family: "Poppins Medium";
    margin-top: 5px;
}

.input_wrap:not(:last-child) {
    margin-bottom: 16px;
}

.input_wrap:last-child {
    margin-bottom: 59px;
}

.btn {
    border-radius: 6px;
    background-color: #DF6951;

    padding: 13px 59px;
    width: 100%;
    cursor: pointer;
    
    color: #fff;
    font-family: "Poppins SemiBold";
    font-size: 14px;

    margin-bottom: 29px;
}

.btn:hover {
    background-color: #e77d68;
}

.links_wrap {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.link_to_another_form,
.link {
    font-size: 16px;
}

.link {
    color: #000;
}

.link:hover {
    color: #e77d68;
    text-decoration: underline;
}