.footer {
    padding: 0 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E5E5EA;
    padding-bottom: 59px;
    margin-bottom: 59px;
}

.copyright {
    font-family: "Manrope Medium";
    letter-spacing: -0.02em;
    color: var(--color-midnight_violet);
    text-align: center;
    display: block;
    margin-bottom: 40px;
}