.banner {
    margin-bottom: var(--sections--margin-bottom);
    background: url("/wanderlust.png") no-repeat;
    padding: 187px 0 183px 0
}

.text {
    font-family: var(--font-family-yesteryear--regular);
    font-size: 50px;
    color: var(--color-white);
    display: block;
    text-transform: capitalize;
    text-align: center;
}