.fast_n_easy {
    margin-bottom: var(--sections--margin-bottom);
}

.container {
    padding: 0 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1399px) {
    .container {
        padding: 0 100px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 50px;
    }
}