.footer_social {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.text {
    color: var(--color-misty_violet);
    font-family: var(--font-family-manrope--medium);
    margin-bottom: 10px;
}

.icons_wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}