.footer_social {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.text {
    color: #757095;
    font-family: "Manrope Medium";
    margin-bottom: 10px;
}

.icons_wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}