@import url("css/base.css");
@import url("css/font-style.css");

body {
    max-width: 1920px;
    margin: 0 auto;
}

#root {
    width: 100%;
}

@media (max-width: 886px) {
    body {
        min-width: 886px;
        width: 100%;
    }
}