.profile {
    margin: 117px 0;
}

.title {
    color: var(--color-midnight_blue);
    font-size: 50px;
    font-family: var(--title-font-family);
    display: inline-block;
    margin-bottom: 30px;
}