.profile {
    margin: 117px 0;
}

.title {
    color: var(--color-midnight_blue);
    font-size: var(--title-ls);
    font-family: var(--font-family-volkhov--bold);
    display: inline-block;
    margin-bottom: 30px;
}