.ticket_card {
    padding: 50px;
    border-radius: 26px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 130px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: var(--color-anti_flash_var(--color-white));
    font-family: var(--font-family-poppins--medium);
}

.table td {
    font-family: var(--font-family-poppins--regular);
}

.pay_btn {
    padding: 8px 16px;
    background-color: var(--color-apple_green);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pay_btn:hover {
    background-color: var(--color-forest_green);
}

.status_ready,
.status_rejected,
.status_paid,
.status_not_paid,
.pending_text {
    font-family: var(--font-family-poppins--medium);
}

.status_ready {
    color: var(--color-apple_green);
}

.status_rejected {
    color: var(--color-red-500);
}

.status_paid {
    color: var(--color-material_blue);
}

.status_not_paid {
    color: var(--color-tangerine);
}

.pending_text {
    color: var(--color-material_blue);
    font-style: italic;
}