.content {
  max-width: 631px;
}

.content_alt {
  text-align: center;
  width: 100%;
}

.img {
  display: inline-block;
  margin-bottom: 15px;
}

.title {
  font-family: var(--font-family-poppins--bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  font-size: 18px;
}

.description {
  margin-bottom: 15px;
  font-family: var(--font-family-poppins--bold);
  color: var(--color-white);
  font-size: 59px;
  font-weight: 700;
}

.description_alt {
  font-family: var(--font-family-yesteryear--regular);
  color: white;
  font-size: 158px;
}

@media (max-width: 1200px) {
  .description {
    font-size: 32px;
  }
}