.explore_tabs {
    margin: 0 auto;
    border-bottom: 1px solid var(--color-onyx_gray--opacity);
}

.inner {
    display: flex;
    align-items: center;
}

.tab {
    display: flex;
    align-items: center;
    column-gap: 14px;

    background-color: var(--color-ghost_white);
    padding: 25px 89px;
}

.tab:not(:last-child) {
    border-right: 1px solid var(--color-onyx_gray--opacity);
}

.text {
    font-family: var(--font-family-poppins--bold);
    font-size: 20px;
    color: var(--color-onyx_gray);
    letter-spacing: 0.1em;
}

.active {
    background-color: var(--color-platinum_gray);
}