.subtitle {
    font-family: "Poppins Bold";
    font-size: 18px;
    color: #DF6951;
}

.title {
    font-family: "Volkhov Bold";
    color: #181E4B;
    font-size: 50px;
    margin-bottom: 31px;
}

.subtitle, .title {
    display: block;
    text-transform: capitalize;
}