@import url("../common.css");

.image {
    margin-bottom: 33px;
}

.description {
    font-family: "Poppins Regular";
    margin-bottom: 15px;
    max-width: 708px;
}

.description:last-child {
    margin-bottom: 147px;
}