/* часто повторяемые свойства */
.card__data,
.card__days_wrap,
.card__people_wrap,
.card__info,
.card__place_wrap {
    display: flex;
    align-items: center;
}

.card__days,
.card__people,
.card__name_place,
.card__description {
    font-family: "Poppins Regular";
}

.card__discount,
.card__price_line_through,
.card__price {
    font-family: "Poppins Medium";
}

.card__days,
.card__people,
.card__name_place {
    font-size: 17px;
    color: #7D7D7D;
}

.card__country_name,
.card__discount,
.card__price {
    font-size: 30px;
}

.card__description,
.card__btn {
    font-size: 13px;
}

/* -------------------------- */

.card {
    max-width: 393px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card__img_wrap {
    position: relative;
    margin-bottom: 39px;
}

.card__img {
    max-width: 393px;
    width: 100%;
}


.card__icon {
    position: absolute;
    left: 39px;
    bottom: -38px;
    box-shadow: 6px 14px 27px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset -5px 11px 18px 0 rgba(0, 0, 0, 0.57);
    border-radius: 50%;
}

.card__data {
    column-gap: 35px;
    margin-bottom: 18px;
}

.card__days_wrap,
.card__people_wrap {
    column-gap: 8px;
    text-transform: capitalize;
}

.card__info {
    justify-content: space-between;
}

.card__place_wrap {
    column-gap: 10px;
    margin-bottom: 10px;
}

.card__country_name {
    font-family: "Poppins Bold";
}

.card__discount {
    color: #DF6951;
}

.card__price_line_through {
    color: #7D7D7D;
    text-decoration: line-through;
    font-size: 22px;
}

.card__description {
    margin-bottom: 49px;
}

.card__btn {
    font-family: "Poppins SemiBold";
    box-shadow: 0 15.28px 26.74px 0 rgba(223, 105, 81, 0.15);
    background-color: #DF6951;
    border-radius: 8px;

    padding: 7px 42px 14px 14px;
    text-transform: capitalize;
    color: white;
}

.card__btn:hover {
    background-color: #e47e6a;
}